html {
    font-family: 'Arimo', monospace;
}

textarea {
    width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    height: 100%;      /* usa el 100% del area disponible de altura */
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);             /* fraction unit */
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
        "h h h h h h h h h h h h" 
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    
}

div {
    border-radius: 5px;
    padding: 10px;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;

    color: antiquewhite;
}

html, body {
    box-sizing: border-box;
    background-color: #030418;
    height: 100%;
    padding: 10px;
    margin: 0px;
}

.header {
    /* grid-column: 1 / -1;  este metodo le dice desde la linea 1 hasta la ultima */
    grid-area: h;
    background-color: lightslategrey;
}

.menu {
    /*grid-column: 3 / -1;
    grid-row: 2 / 4; */
    grid-area: m;
    background-color: tomato;

}

.content {
    /*grid-column: 1 / 3;
    grid-row: 2 / 4;*/
    grid-area: c;
    background-color: #030418;
}

.footer {
    /*grid-column: 1 / -1;*/
    grid-area: f;
    background-color: darkslategray;
}